<div class="favorite-cards">
    <div class="card-wrapper">

        <div class="card">
            <img src="" alt="">
        </div>
        <p class="city-name">New York, USA</p>
    </div>
    <div class="card-wrapper">

        <div class="card">
            <img src="" alt="">
        </div>
        <p class="city-name">New York, USA</p>
    </div>
    <div class="card-wrapper">

        <div class="card">
            <img src="" alt="">
        </div>
        <p class="city-name">New York, USA</p>
    </div>
    <div class="card-wrapper">

        <div class="card">
            <img src="" alt="">
        </div>
        <p class="city-name">New York, USA</p>
    </div>

</div>
