.input-search-city {
    width: 35%;
    min-width: 220px;
    height: 35px;
    box-sizing: border-box;
    padding: 10px 0 10px 50px;
    border: 0;
    outline: none;
    border-bottom: 1px solid #eee;
    border-radius: 10px;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url('icons/input-icon.png');
    background-repeat: no-repeat;
    background-size: 36px;
    background-position: 14px;
}
