.title-favorite-city {
    font-size: 24px;
    font-weight: 400;
    color: #3b367d;
    margin-top: 36px;
    font-family: Releway, sans-serif;
    font-weight: 200;
    .bold-word {
        font-weight: 600;
    }
}
