<div class="weather-weak">Weak</div>
<div class="days">
    <div>Monday</div>
    <div>54%</div>
    <div>17°C</div>
</div>
<div class="days">
    <div>Monday</div>
    <div>54%</div>
    <div>17°C</div>
</div>
<div class="days">
    <div>Monday</div>
    <div>54%</div>
    <div>17°C</div>
</div>
<div class="days">
    <div>Monday</div>
    <div>54%</div>
    <div>17°C</div>
</div>
<div class="days">
    <div>Monday</div>
    <div>54%</div>
    <div>17°C</div>
</div>
<div class="days">
    <div>Monday</div>
    <div>54%</div>
    <div>17°C</div>
</div>
<div class="days">
    <div>Monday</div>
    <div>54%</div>
    <div>17°C</div>
</div>
